.AboutMe {
    background-color: black;
    min-height: 100vh;
    padding: 10vh 12%;
    color: white;
}

.about-title {
    font-size: 3rem;
    color: #00f0ff;
    margin-bottom: 40px;
}

.about-section {
    margin-bottom: 50px;
}

.about-subtitle {
    font-size: 1.8rem;
    color: cyan;
    margin-bottom: 15px;
}

.about-section p,
.about-section li {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #e0e0e0;
}

.about-section ul {
    padding-left: 20px;
}

/* Reuse reveal animation logic */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}


.BeamsAbout{
    width: 1080px;
    height: 110vh;
    position: fixed;
    top: -10vh;
}



@media screen and (max-width: 768px) {
    .AboutMe {
        padding: 8vh 6%;
    }

    .about-title {
        font-size: 2.2rem;
    }

    .about-subtitle {
        font-size: 1.4rem;
    }

    .about-section p,
    .about-section li {
        font-size: 1rem;
    }

    .BeamsAbout{
    width: 110vw;
    height: 110vh;
    position: fixed;
    top: -10vh;
    right: 1vh;
}

}